body {
    font-family: 'Inter Tight', sans-serif;
    font-size: 20px;
}

.CEO {
    background-color: lightskyblue;
}

.D_CEO {
    background-color: lightcoral;
}

.REG_MAN {
    background-color: lightgreen;
}

.TER_MAN {
    background-color: lightgoldenrodyellow;
}

.DTER_MAN {
    background-color: lightseagreen;
}

.HON {
    background-color: lightsalmon;
}

.PHARM {
    background-color: lightpink;
}

a {
    color: black;
}

th[scope="col"] {
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

th[scope="col"]:hover {
    background-color: #dfdfdf;
}

li div {
    display: flex;
    justify-content: space-between;
}

li div button {
    z-index: 10;
}

.draggable {
    cursor: move;
}

.employee-placeholder {
    border: 1px dashed black;
    margin: 0 auto;
    list-style: none;
}

ul.sortable {
    min-height: 16px;
}
